body{
    margin: 0px;
    padding: 0px;
    background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(6, 74, 89);
}

.container{
    margin: 80px;
}

.row{
    margin: 100px;
}

#input{
    border: 1px solid;
    width: 700px;
    height: 150px;
    background-color: rgb(6, 74, 89);
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 30px;
}

#input2{
    margin-top: 50px;
    margin-left: 90px;
}

input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
}

#input2 button{
    width: 150px;
    height: 50px;
    background-color: rgb(191, 233, 230);
    border: 1px solid rgb(191, 233, 230);
    border-radius: 10px;
}

#input2 button:hover{
    background-color: #44b09e;
    border: 1px solid #44b09e;
    color: white;
}

.col-12 span{
    font-size: 40px;
}

.col-12 p{
    font-size: 20px;
}

#wish{
    margin-left: 500px;
    font-size: 40px;
    font-weight: bold;
}

#result{
    display: flex;
    gap: 100px;
    text-align: center;
    margin-left: 250px;
}

.yyyy,.mm,.dd{
    border: 1px solid rgb(6, 74, 89);
    width: 200px;
    height: 200px;
    padding-top: 40px;
    color: white;
    background-color: rgb(6, 74, 89);
    border-radius: 20px;
}

